*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-selector {
    
        display: flex;
        justify-content: center;
        list-style: none;
        /* gap: 15px; */
        align-items: center;
    
}
.select-number button{
    border: 1px solid black;
    margin: 15px;
    padding: 8px 14px;
    cursor: pointer;

}
.select-number button:active{
    background-color: black;
}
.select-number h5{
    text-align: end;
    margin: 15px;
    
}
.clicked{
    background-color: black;
    color: white;

}

.role-dice{
    display: flex;
    justify-content: center;align-self: center;
}